{% extends "customer/main.html" %} {% load static %} {% block content %}
<div id="slides" class="cover-slides">
  <ul class="slides-container">
    <li class="text-center">
      <img src="{% static 'images/slider-04.jpg' %}" alt="">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="m-b-20"><strong> Anchor Cafeteria</strong></h1>

            <p><a class="btn btn-lg btn-circle btn-outline-new-white" href="{% url 'menu' %}">Order Now!</a></p>
          </div>
        </div>
      </div>
    </li>
    <li class="text-center">
      <img src="{% static 'images/slider-05.jpg' %}" alt="">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="m-b-20"><strong> Anchor Cafeteria</strong></h1>

            <p><a class="btn btn-lg btn-circle btn-outline-new-white" href="{% url 'menu' %}">Order Now!</a></p>
          </div>
        </div>
      </div>
    </li>
  </ul>
  <div class="slides-navigation">
    <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
    <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
  </div>
</div>
{% endblock content %}